<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VMV</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>

<body class="bg-dark bg-gradient">
    <nav class="navbar navbar-dark  fluid text-center">
        <a class="navbar-brand col">▁ ▂ ▃ ▅ ▆ ▇ █ ＶＭＶ █ ▇ ▆ ▅ ▃ ▂ ▁</a>

    </nav>