.table-wrap {
    height: 800px;
    overflow-y: auto;
  }

  body {
    font-weight: bold;
    background-image: linear-gradient(to top left, #006efd, #0aee61, #006efd);
    font-size:20px;
  }

  .button-gradient {
    background-image: linear-gradient(to top left, #1b2afa, #00b7ff, #0096ff, #1271eb);
  }


  html {height: 100%;}