.table-wrap {
    height: 800px;
    overflow-y: auto;
  }

  body {
    font-weight: bold;
    background-image: linear-gradient(to top left, #1b2afa, #00b7ff, #0096ff, #1271eb);
    font-size:20px;
  }

  .button-gradient {
    background-image: linear-gradient(to left, #11b3b3, #00a9c8, #009bdf, #008aed, #1271eb);
  }

  .table-head {
    background-color: black;
  }
  html {height: 100%;}