.table-wrap {
    height: 800px;
    overflow-y: auto;
  }

  body {
    font-weight: bold;
    background-image: linear-gradient(to top left, #006efd, #0aee61, #006efd);
    font-size:20px;
  }

  .table-row-color td {
    background-color:#2f33ff
  }


  html {height: 100%;}